* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


html{scroll-behavior: smooth; background-color:#ececf1;}




	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; clear: both; }
	   
	   .container{max-width: 1100px;margin: 0 auto;}

	    .cl{clear:both;}

	   .img-fluid{width: 100%; height: auto;}
	   /*.img-fluid-max{max-width:100%; height:auto;}*/
	   .shop{float:right;}
	   .sear{margin-left:30px; cursor:pointer;}
	   .header{background-color:#f3cb11; padding-top:10px; padding-bottom:10px; position:sticky; top:0; right:0; left:0; z-index:1000;}
	   .menu{float:right; margin-top:18px;}
	   .menu a{color:#FFF; text-decoration:none; font-family:"Open Sans SemiBold"; padding:10px;}
	   
	   	   	   	   	  .menu a{
	 
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none!important;
}
	   
	   
	   .menu a:hover,.action{color:#010f18;}
	   
	   
	   .menu2{display:none; text-align:center;}
	   .menu2 a{color:#FFF; text-decoration:none; background-color:#010f18; text-align:center; line-height:20px; font-family:"Source Sans Pro Semibold"; padding:5px; display:block;}
	   .menu2 a:hover{background-color:#f3cb11;}
	   
	   	   	   	   	  .menu2 a{
	 
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none!important;
}
	   
	   
	   .toggle{float:right;display:none; margin-right:15px; cursor:pointer;}
	   .bac{background-color:#FFF; margin-top:30px; margin-left:65px; border-radius:10px;}
	   .west h1{font-family:"trajan pro"; text-align:center; margin-top:30px; color:#15bb9a;}
	   .west h2{color:#F00; font-family: "source Sans Pro"; text-align:center; margin-top:30px;}
	   .west p{text-align:center; color:#000; font-family:"dm sans";}
	   .west h5{text-align:center; color:#000; font-family:"dm sans"; padding-top:10px;}
	   .slider h1{font-family: "Oswald Regular"; font-size:70px; color:#FFF;text-align:left; width:75%; position:absolute; top:40%; left:50%; transform:translate(-50%, -50%); animation:fadeOutLeft 1s both;}
		.slider .filled-button{background-color: #a4c639;color: #fff;border: none;font-size: 13px;text-transform: uppercase;font-weight: 700; font-family:"open Sans"; padding: 12px 30px; border-radius: 8px;display: inline-block;transition: all 0.3s;outline: none;box-shadow: none;text-shadow: none;cursor: pointer; text-decoration:none; position:absolute; top:62%; left:18%; transform:translate(-50%, -50%);}
		.secret{position:relative;}
		
		
		.filled-button{
	 
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none!important;
}
	
	.filled-button:hover{background-color:#f72a47; color:#fff;}
	
	
	
	
	.art{background-color:none; color:#f72a47; border:2px #f72a47 solid; font-size: 13px; font-weight: 700; font-family:"open Sans"; padding: 12px 30px; border-radius: 8px;display: inline-block; cursor: pointer; text-decoration:none; margin-top:30px; margin-bottom:10px; margin-left:60px; text-align:center;}
	   .art:hover{background-color:#f72a47; color:#FFF;}
	   .art{
	 
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none!important;}
  
  
	   .input{background-color:#FFF; width:150px; border:1px #535353 solid; padding:10px; color:#000; margin-top:25px; border-radius:5px; float:right; display:none;}
	   .footer{background-color:#f3cb11; height:auto; margin-top:30px;}
	   .footer h4{color:#000; font-family:"source Sans Pro"; font-size:14px; text-align:center; padding-top:30px; padding-bottom:30px;}
		
	   
	   
	   
	   
	   
	   /*HOVER EFFECT-02*/
.image2{
	float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    margin-bottom: 30px;
	
}
 .overlay2{
	opacity: 0;
    background-color: rgba(2, 40, 38, 0.44);
    transition:all 0.4s ease-in-out;
	width: 100%;
    height: 100%;
   position:absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}	
	
.image2 img {
    transition: all 0.2s linear;
	 display: block;
    position: relative;
}

.image2 h2{
	 transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
	text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 20px 0 0 0;
	font-weight: 400;
	line-height: 37px;
	}
	
.image2 p{
	transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
	font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
	}
	
.btn2{
	 padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    font-size: 14px;
	transition: all 0.2s ease-in-out;
	border:none;
	cursor:pointer;
	}
	.image2:hover .btn2{
	transition-delay: 0.2s;
	opacity: 1;
    transform: translateY(0px);
	 box-shadow: 0 0 5px #000;
		}

.image2:hover .overlay2{
    opacity: 1;
	}
.image2:hover h2{
	opacity: 1;
    transform: translateY(0px);
	
	}
	
.image2:hover p{
	transition-delay: 0.1s;
	 opacity: 1;
    transform: translateY(0px);
	}
	
/*./HOVER EFFECT - 02*/

     /*HOVER EFFECT - 08*/
.image8{
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
	
	}
.image8 * {transition: all 0.6s ease;}
    
.image8:after {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    opacity: 0.75;
    transform: skew(-45deg) scaleX(0);
    transition: all 0.3s ease-in-out;}
.image8 img{
	
	opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
	}		
.overlay8{
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1;
	
	}
.image8 h2{
	padding: 0 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
	margin: 0;
    width: 100%;
    opacity: 0;
	
}
.image8 p{  
     padding: 0 50px;
    font-size: 0.8em;
    font-weight: 500;
	margin: 0;
    width: 100%;
    opacity: 0;
}
.btn8{
	font-size: 12px;
    background:#069;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 20px;
    width: 120px;
    color: #f7f7f7;
	border:none;
	opacity:0;
	cursor:pointer;
	}
.image8:hover .btn8	{
	opacity: 0.7;
	}
.image8:hover p{
	    opacity: 0.7;
	}
.image8:hover h2{
	    opacity: 1;
	}	
.image8:hover  h2, .image8:hover  p {
    transition-delay: 0.2s
	
	}
.image8:hover:after {
    transform: skew(-45deg) scaleX(1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
     /*./HOVER EFFECT - 08*/
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
@media (max-width:800px){
		   .log{width:30%;}
		   .col-3{width:70%;}
		   .shop{width:25%;}
		   .toggle{margin-top:20px;}
		   .slider h1{font-size:24px;}
		   .slider .filled-button{padding: 7px 12px; font-size:7px; margin-top:20px; margin-left:12px;}
		   .art{margin-left:70px;}
	   }	   
	   
	   
	   
	   
	   
	   
	   
	   @media (max-width:1040px){
		   .menu{display:none;}
		   .toggle{display:block;}
	   }
	   
@media (min-width:1040px){
		   .menu2 a{display:none;}
	   }